@import "../variables";

.container {
	font-size: 1.25rem;

	&:not(:last-child) {
		margin-bottom: 1.5rem;
	}
}

.container--focused .label {
	color: $colorPrimary;
}

.label {
	display: inline-block;
	margin-bottom: .5rem;
	transition: $transitionShort;
}

.input {
	color: $colorBg;
	width: 100%;
	border: 1px solid $colorWhite;
	border-radius: $borderRadius;
	resize: none;
	padding: 5px 10px;
}

@media only screen and (min-width: 500px) {
	.container:not(:last-child) {
		margin-bottom: 0;
	}
}
