@import "../variables";

.link {
	display: flex;
	align-items: center;
	transition: $transitionShort;

	&:hover,
	&:focus,
	&:active {
		color: $colorPrimary;
	}
}

.icon {
	display: flex;
	font-size: 2rem;
	margin-right: 1.5rem;
}
