@import "../variables";

.project {
	min-width: 250px;
	width: 100%;
	max-width: calc(50% - 3rem);
	border: 1px solid $colorWhite;
	border-radius: $borderRadius;
	margin: 2rem 1rem 0 1rem;
}

.title {
	font-weight: 400;
	padding: 4px 6px;
	font-size: 1.25rem;
}

.container {
	border-top: 1px solid $colorWhite;
	display: flex;
}

.link {
	width: 50%;
	text-align: center;
	transition: $transitionShort;
	padding: 4px 0;

	&:hover,
	&:focus,
	&:active {
		background-color: $colorPrimary;
	}

	&:not(:last-child) {
		border-right: 1px solid $colorWhite;
	}
}
